@import "mixins";

@mixin featuredActivityBox {
  margin: auto;
  margin-top: 10px;
  background-color: #fefefe;
  border: 1px solid #b4b5b4;

  @include shadow(#b9b9b9, 4px, 0px, 2px);
  @include border_radius(3px);

  span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    cursor: pointer;
  }
}

#home_page section#wizard {

  section#activities {
    margin: auto;
    width: 800px;
    height: 250px;
    position: relative;
    font-size: 12px;
  }


  section#activities {

    .allActivitiesContainerWrapperHide , .featuredActivitiesContainerWrapperHide {
      display: none;
    }

    #featuredActivitiesContainerWrapper , #allActivitiesContainerWrapper {
      position: absolute;
      top: 50px;
      height: 100%;
      width: 100%;

      #featuredActivitiesContainer , #allActivitiesContainer {
        margin: auto;
        width: 600px;

        .featuredActivityContainer {
          width: 150px;
          float: left;
        }
        .allActivityContainer {
          width: 180px;
          height: 20px;
          float: left;
          margin-bottom: 10px;
        }
      }
    }


    #featuredActivitiesContainerWrapper {
      top: 70px;
      height: 150px;
    }
  }


  .featuredActivityContainer .activityBox {
    /* Add common properties to this selector and the inner span*/
    @include featuredActivityBox;
    @include gradient(#ffffff,#f8f8f8);

    height: 86px;
    width: 140px;
    position: relative;

    span {
      height: 86px;
      width: 140px;
    }

    &.activitySelected {
      border: 1px solid #79a948;
      color: white;
      @include gradient($activitiesSoftGreen, $activitiesDarkerGreen);

      .activityLeftIndicator {
        width: 29px;
        height: 29px;
        background: url(/assets/wizard_button_selected.png) no-repeat;
        position: absolute;
        top:  29px;
        left: 2px;

      }
    }
  }


  .allActivityContainer .activityBox {
    position: relative;
    cursor: pointer;

    span {
      text-align: left;
      display: block;
      position: absolute;
      left: 20px;
      top: 0px;
      font-size: 15px;
    }

    .activityLeftIndicator {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 1px;
      background: url(/assets/wizard_check_unchecked.png) no-repeat;
    }

    &.activitySelected {

      .activityLeftIndicator {
        background-color: rgb(133, 190, 52);
        background: url(/assets/wizard_check_checked.png) no-repeat;
      }
    }
  }



  #seeMoreActivitiesWrapper {
    width: 95px;
    height: 95px;
    position: relative;
    margin: auto;

    #seeMoreActivities {
      width: 95px;
      height: 95px;
      cursor: pointer;
      position: absolute;
      bottom: 10px;
    }

    #seeMoreActivities.seeMore {
      background: url(/assets/see_more_sprite.png) no-repeat 0px 0px;
    }

    #seeMoreActivities.seeLess {
      background: url(/assets/see_more_sprite.png) no-repeat 0px -95px;
    }
  }
}
