
#home_page {

  section#welcome {

    .horizontalShadow {
      position: relative;
      width: 100%;
      height: 1px;
      z-index: 1;
      top: -1px;

      @include box-shadow(0 0 8px 0 black)
    }

    #welcomeBackgroundImage {
      position: relative;
      width: 100%;
      height: 300px;
      background: url(/assets/header_background.jpg) no-repeat;
      z-index: 2;
    }

    height: 300px;
    background-image: url(/assets/background_pattern.png);

    #selectTeacherLabelWrapper {
      width: 100%;
      height: 80px;
      position: absolute;
      top: 275px;
      z-index: 3;

      #selectTeacherLabel {
        display: block;
        margin: auto;
      }
    }
  }


  /* How it works box */
  section#howItWorks {
    width: 100%;
    height: 200px;
    background-image: url(/assets/footer_background_pattern.png);
  }
}

