@mixin wizardNavButtonCommon {
	z-index: 2;
	cursor: pointer;
	width: 40px;
	height: 35px;
	background-color: #464646;
	position: absolute;
	top: 100px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 20px;
	color: #eeeeee;
	font-weight: bold;
	font-size: 24px;
	padding-left: 14px;
	padding-right: 14px;
	
	span {
		display: table-cell;
		vertical-align: middle;
		height: inherit;
		width: inherit;
		text-shadow: 0 0 20px #ffffff;
		cursor: pointer;
	}
	
	&.wizardNavButtonDisabled {
		opacity: 0.52;
	}
}

#home_page {
	
	section#wizard {
		background-image: url(/assets/background_pattern.png);
		position: relative;
		width: 100%;
		height: 350px;
		clear: left;
		background-color: #f4f4f4;
		padding-top: 50px;
			
		#sliderWrapper {
			height: 100%;
			position: relative;
			overflow: hidden;
			
			#slider {
				position: absolute;
				clear: both;
				height: 100%;
			
				.slideBox {
					height: 100%;
					float: left;
					position: relative;
				}
			}
		}
		
		h2.wizard {
			font-size: 28px;
			text-shadow: 0 0 2px #ffffff;
			color: #53a51f;
			text-align: center;
		}
		
		
		#wizardNextButton {
			@include wizardNavButtonCommon;
			right: -18px;
			text-align: left;			
		}
		#wizardBackButton {
			@include wizardNavButtonCommon;
			left: -18px;
			text-align: right;

		}
		
				
	}	
}
