.resultBox {
	width: 620px;
	height: 108px;
	outline: 1px solid #c0bdb0;
	position: relative;
}

.resultBoxOdd {
	background-color: #fdfbe9;
}
.resultBoxEven {
	background-color: #fefefe;	
}

.resultBox .resultThumbnail {
	margin-left: 20px;
	margin-top: 12px;
	outline: 1px solid #dad8c9;
	padding: 2px;
	background-color: white;
	width: 64px;
	height: 54px;
}

.resultBox .reputationBox {
	margin-left: 15px;
	margin-top: 5px;
	width: 80px;
	height: 20px;
}
.resultBox .reputationBox span {
	width: 16px;
	height: 17px;
	display: block;
	float: left;
}
.resultBox .teacherReputationYellowStar {
	background-image: url(../assets/result_item_sprite.png);
	background-repeat: no-repeat;
	background-position-x: -89px;
	background-position-y: -41px;
}
.resultBox .teacherReputationBlackStar {
	background-image: url(../assets/result_item_sprite.png);
	background-repeat: no-repeat;
	background-position-x: -107px;
	background-position-y: -41px;
}



.resultBox .detailsSection {
	width: 500px;
	height: 84px;
	position: absolute;
	right: 10px;
	top:  13px;
	text-shadow: 0 0 2px #dadada;;
}

.resultBox .teacherName {
	color: #766958;
	font-size: 13px;
}

.resultBox .teacherDescription {
	color: #766958;
	font-size: 13px;
}

.resultBox .showDetails {
	cursor: pointer;
	background-image: url(../assets/result_item_sprite.png);
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: -4px;
	width: 60px;
	height: 60px;
	position: absolute;
	right: 10px;
	top: 10px;
}


.resultBox .tagsSection {
	font-size: 10px;
	position: absolute;
	bottom: 0px;
	width: 400px;
	height: 23px;
	clear: both;
	overflow: hidden;
}
.resultBox .tagContainer {
	float: left;
	margin-right: 5px;
}
.resultBox .tagLeftBg {
	background-image: url(../assets/tag_sprite.png);
	background-repeat: no-repeat;
	background-position-x: 0px;
	background-position-y: 0px;
	width: 14px;
	height: 22px;
	float: left;

}
.resultBox .tagMiddleBg {
	background-image: url(../assets/tag_sprite.png);
	background-repeat: repeat-x;
	background-position-x: 0px;
	background-position-y: -25px;
	height: 22px;	
	float: left;
}
.resultBox .tagText {
	position: relative;
	top: 5px;
	/* There is a little trick here that makes some especial 
	behavior on the tag and allow us to have spaces on the left and right*/
	left: 3px;
	margin-right: 10px;
}
.resultBox .tagRightBg {
	background-image: url(../assets/tag_sprite.png);
	background-repeat: no-repeat;
	background-position-x: -19px;
	background-position-y: 0px;
	height: 22px;
	width: 2px;
	float: left;
}

