#wizardSliderWrapper {
	height: 300px;
	position: relative;
	overflow: hidden;
}

#wizardSlider {
	position: absolute;
	clear: both;
}

.slideBox {
	height: 300px;
	text-align: center;
	float: left;
	position: relative;
}



#slideBox2 {
	background-color: rgba(90,5,66,.3);
}	
#slideBox3 {
	background-color: rgba(200,5,66,.3);
}