<section id="activities">
	<div id="featuredActivitiesContainerWrapper" class="">
		<div id="featuredActivitiesContainer">
			<!-- ACTIVITIES TEMPLATE WILL BE RENDERED HERE -->
		</div>
	</div>
	<div id="allActivitiesContainerWrapper" class="allActivitiesContainerWrapperHide">
		<div id="allActivitiesContainer">
			<!-- ACTIVITIES TEMPLATE WILL BE RENDERED HERE -->
		</div>
	</div>
</section>

<div id="activitiesWizardNextButton" class="wizardNextButton wizardNextButtonDisabled"></div>
<div id="seeMoreActivitiesWrapper">
	<div id="seeMoreActivities" class="seeMore" onclick="app.home.seeMoreActivities(this);"></div>
</div>