<section id="activityMode">
	<h2 class="wizard">Elegi como queres tomar tu clase</h2>
	<div class="activityModeContent">
		<div class="activityModeButton js-activityMode" onclick="app.home.selectActivityMode($(this), 'student_place')">
			<span>Quiero ir a la casa del profesor</span>
		</div>
		<div class="activityModeButton js-activityMode" onclick="app.home.selectActivityMode($(this), 'teacher_place')">
			<span>Quiero ver profesores que vayan a la zona que yo indique!</span>
		</div>
	</div>
	
</section>
