<% content_for :head do %>
  <script type="text/javascript"><%= render :partial => "home.js" %></script>
  <style><!--<%= render :partial => "home.css" %>--></style>
<% end %>

<div id="pageSection">

  <!-- Debugging box -->
  <div id="debuggingBox">
    <label style="color: white;">Debugging Box</label> </br>
    <a onclick="alertSearchTerm();">Search Term to JSON</a>    </br>
    <a onclick="left();">Previous</a> &nbsp;|&nbsp; <a onclick="right();">Next</a>    </br>
    <a href="<%= url_for(:action => 'result', :controller => 'pages') %>">Result Page</a> </br></br>
    <a onclick="postSearch();">Post Search</a> </br>
  </div>

  <div id="topErudioLogoContainer">
    <div id="topErudioLogo"></div>
  </div>


  <div id="pageTopFrame"></div>

  <div id="headerSection">
    <div id="authenticationBox"></div>
  </div>

  <div id="welcomeSection">
    <img id="slogan" src="/assets/slogan.png"/>
  </div>



  <div id="selectTeacherLabelImageWrapper">
    <img id="selectTeacherLabelImage" src="/assets/que_profesores_label.png"></image>
  </div>


  <!-- Wizard and Actions Section -->
  <div id="wizardSection">


    <!-- Slider with effects -->
    <div id="wizardSliderWrapper">
      <div id="wizardSlider">

        <!-- Activities Section -->
        <div class="slideBox" id="slideBox1">
          <div id="activitiesContainer">

            <!-- ACTIVITIES TEMPLATE WILL BE RENDERED HERE -->

          </div>

          <div id="seeMoreActivities" onclick="unfoldActivities()">Ver mas actividades</div>
          
        </div>


        <div class="slideBox" id="slideBox2">BOX 2</div>
        <div class="slideBox" id="slideBox3">BOX 3</div>
      </div>
    </div>
  </div>


  <div id="howItWorksSection">
    How it works
  </div>

  <div id="footerSection">
    Footer
  </div>

</div>


<script type="text/javascript">

	_.templateSettings = {
	      evaluate : /\{\[([\s\S]+?)\]\}/g,
	      interpolate : /\{\{([\s\S]+?)\}\}/g
	 };

    window.application.activities = <%=@json_all_activities.html_safe%>;
</script>

<!-- ACTIVITIES TEMPLATE -->
<script id="activityTemplate" type="text/template">

  {[ _.each(data, function(activity) { ]}
  <div class="activityContainer">
    <div class="activityBox" onclick="selectActivity(this);">
      <span>{{ activity.name }}</span>
      <input type="hidden" name="activityId" id="activityId_{{activity.id}}" value="{{activity.id}}"/>
    </div>
  </div>
  {[ }); ]}
</script>