
<% content_for :page_id do %>
  "signup_page"
<% end %>

<section id="main-content">

  <section class="left-column">

    <h1>Creando tu perfil</h1>

    <div class="form-row">
      <div class="input-label">
        <label>Mail</label>
        <input type="text"></input>
      </div>
      <div class="input-label">
        <label>Contraseña</label>
        <input type="text"></input>
      </div>
    </div>

    <h2>Medios de contacto</h2>
    <p>
      Si por razones de privacidad no deseas hacer públuca tu direccion
      exacta, te recomendamos que aun asi añadas corecctamente la calle
      y codigo postal, y en el numero de calle introduzcas la altura
      aproximada.
    </p>
    <div class="form-row">
      <div class="input-label">
        <label>Telefono</label>
        <input type="text"></input>
      </div>
      <div class="input-label">
        <label>Movil</label>
        <input type="text"></input>
      </div>
    </div>

    <div class="form-row checkbox">
      <input type="checkbox">Ofrezco clases en mi domicilio</input>
    </div>

    <div class="form-row">
      <div class="input-label">
        <label>Calle</label>
        <input type="text"></input>
      </div>
      <div class="input-label">
        <label>Altura</label>
        <input class="small" type="text"></input>
      </div>
      <div class="input-label">
        <label>Piso</label>
        <input class="small" type="text"></input>
      </div>
      <div class="input-label">
        <label>Depto</label>
        <input class="small" type="text"></input>
      </div>
    </div>

    <div class="form-row">
      <div class="input-label">
        <label>Barrio</label>
        <input type="text"></input>
      </div>
      <div class="input-label">
        <label>Codigo Postal</label>
        <input type="text"></input>
      </div>
    </div>

    <div class="form-row checkbox">
      <input type="checkbox">Ofrezco clases a domicilio</input>
    </div>

    <div class="form-row">
      <div class="input-label">
        <label>Componente loco de seleccion</label>
        <input type="text"></input>
      </div>
    </div>

    <h2>Descripcion Personal</h2>
    <div class="form-row">
      <div class="input-label text-area">
        <label>Description</label>
        <textarea></textarea>
      </div>
    </div>

    <h3>Ingresa tus estudios</h3>
    <div class="form-row">
      <div class="input-label">
        <label>Titulo</label>
        <input type="text"></input>
      </div>
      <div class="input-label">
        <label>Entidad</label>
        <input type="text"></input>
      </div>
    </div>

    <h3>Ingresa antecedentes profesionales</h3>
    <div class="form-row">
      <div class="input-label">
        <label>Puesto</label>
        <input type="text"></input>
      </div>
      <div class="input-label">
        <label>Empresa</label>
        <input type="text"></input>
      </div>
    </div>

    <div class="form-row">
      <div class="input-label">
        <label>Componente loco de seleccion</label>
        <input type="text"></input>
      </div>
    </div>

    <div class="form-row">
      <div class="green-button">Registrate</div>
    </div>

  </section>


  <section class="right-column">
    Right Column
  </section>

</section>