/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/

// External libraries
@import "bourbon";
@import "reset";
@import "sweet_checkbox";

// Common custom styles and mixins
@import "common";

// Layout
@import "footer";
@import "header";

// Home page
@import "home/home";
@import "home/home_activities";
@import "home/home_activity_mode";
@import "home/home_wizard";
@import "home/home_zones";

// Show page
@import "show/show";

// Search page
@import "teachers/search";




body {
  font-family: "Century Gothic", "Geneva", "Helvetica";
  color: #777777;
  margin: 0px;
}

.clear {
  clear: both;
}