<!DOCTYPE html>

<html>
<head>
	<link href="styles/resultPage.css" rel="stylesheet" type="text/css" />
	<script src="http://code.jquery.com/jquery-1.7.1.js"></script>
	<script src="scripts/resultPage.js"></script>

	<link href="styles/resultBox.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript" src="scripts/tooltipsy.min.js"></script>
	
	<!-- SWEET CHECKBOX	-->
	<script src="sweetCheckbox/sweetCheckbox.js"></script>	
	<link href="sweetCheckbox/sweetCheckbox.css" rel="stylesheet" type="text/css" />
	
	<!-- REPLACE THIS LIBRARY WITH THE LOCAL + PRODUCTIVE ONE -->
	<script src="http://documentcloud.github.com/underscore/underscore.js"></script>

	<!-- REPLACE THIS LIBRARY WITH THE LOCAL + PRODUCTIVE ONE -->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	
</head>

<body>
	<div id="pageSection">
		<!-- Debugging box -->
		<div id="debuggingBox">
			<label style="color: white;">Debugging Box</label> </br>
			<a href="homePage.html">Home Page</a> </br>
			<a onclick="alertSearchTerm();">Search Term to JSON</a>	</br>
		</div>
	
		<div id="topErudioLogoContainer">
			<div id="topErudioLogo"></div>
		</div>
		<div id="pageTopFrame"></div>

		<div id="headerSection">
			<div id="authenticationBox"></div>
		</div>

		<div id="resultSection">
			<div id="resultsColumn">
			</div>
			
			<!-- [START] FILTER SECTION - ACOMODAR!!!! -->
			<div id="filterColumn">
				<div class="filterHeaderRowContainer">
					<div class="filterRowLeftCommon filterHeaderLeftCorner"></div>
					<div class="filterRowMiddleCommon filterHeaderLeftMiddle"></div>
					<div class="filterRowRightCommon filterHeaderRightCorner"></div>
					<div class="filterHeaderTitle">Filtrar Resultados</div>
				</div>

				<!-- ZONE -->
				<div class="filterChildRowContainerCommon">
					<div class="filterRowLeftCommon filterOddRowLeft"></div>
					<div class="filterRowMiddleCommon filterOddRowMiddle"></div>
					<div class="filterRowRightCommon filterOddRowRight"></div>
					<div class="filterOddRowContent">
						<div style="float: left;">Zona</div>
						<div class="hasTooltipsy" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elementum ornare sem" style="float: right;">
							<div class="sweetCheckbox" title="zone" onclick="updateBoolFilter(this, this.title)"></div>
						</div>
					</div>				
				</div>
				
				<!-- PHONE -->
				<div class="filterChildRowContainerCommon">
					<div class="filterRowLeftCommon filterEvenRowLeft"></div>
					<div class="filterRowMiddleCommon filterEvenRowMiddle"></div>
					<div class="filterRowRightCommon filterEvenRowRight"></div>
					<div class="filterEvenRowContent">
						<div style="float: left;">Telefono</div>
						<div class="hasTooltipsy" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elementum ornare sem" style="float: right;">
							<div class="sweetCheckbox" title="phone" onclick="updateBoolFilter(this, this.title)"></div>
						</div>
					</div>				
				</div>

				<!-- EMAIL -->
				<div class="filterChildRowContainerCommon">
					<div class="filterRowLeftCommon filterOddRowLeft"></div>
					<div class="filterRowMiddleCommon filterOddRowMiddle"></div>
					<div class="filterRowRightCommon filterOddRowRight"></div>
					<div class="filterOddRowContent">
						<div style="float: left;">Mail</div>
						<div class="hasTooltipsy" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elementum ornare sem" class="hasTooltipsy" style="float: right;">
							<div class="sweetCheckbox" title="email"  onclick="updateBoolFilter(this, this.title)"></div>
						</div>
					</div>				
				</div>

				<!-- COMMUTE -->
				<div class="filterChildRowContainerCommon">
					<div class="filterRowLeftCommon filterEvenRowLeft"></div>
					<div class="filterRowMiddleCommon filterEvenRowMiddle"></div>
					<div class="filterRowRightCommon filterEvenRowRight"></div>
					<div class="filterEvenRowContent">
						<div style="float: left;">A Domicilio</div>
						<div class="hasTooltipsy" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elementum ornare sem" style="float: right;">
							<div class="sweetCheckbox" title="commute" onclick="updateBoolFilter(this, this.title)"></div>
						</div>
					</div>				
				</div>
				
				<!-- HAS PRICE -->
				<div class="filterChildRowContainerCommon">
					<div class="filterRowLeftCommon filterOddRowLeft"></div>
					<div class="filterRowMiddleCommon filterOddRowMiddle"></div>
					<div class="filterRowRightCommon filterOddRowRight"></div>
					<div class="filterOddRowContent">
						<div style="float: left;">Tiene Precio</div>
						<div class="hasTooltipsy" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elementum ornare sem" style="float: right;">
							<div class="sweetCheckbox" title="price" onclick="updateBoolFilter(this, this.title)"></div>
						</div>
					</div>				
				</div>
			</div>
			<!-- [END] FILTER SECTION -->
						
		</div>
		
		<div id="footerSection">		
			Footer
		</div>
	
	</div>

	
	<!-- RESULT TEMPLATE -->
	<script id="resultTemplate" type="text/x-jquery-tmpl">
			<% _.each(data, function(result, index){  %>
			
				<% classValue = index%2 === 0 ? "resultBoxOdd" : "resultBoxEven"; %>
				
				<div class="resultBox <%= classValue%>">
					
					<img src="assets/picture_thumb_example.jpg" class="resultThumbnail" alt="" />
					
					<div class="reputationBox">
						<% _.each([1,2,3,4,5], function(index){ 
						
							classValue = index <= result.stars ? "teacherReputationYellowStar" : "teacherReputationBlackStar";
						%>
							<span class="<%=classValue%>"></span>
						<% });%>
					</div>
					
					<div class="detailsSection">
						
						<div class="teacherName">
							<%= result.name %> <%= result.lastName %>
						</div>
						
						<div class="teacherDescription">
							<%= result.description %>
						</div>				
						
						<div class="tagsSection">

							<% _.each(result.tags, function(each) {%>
								<div class="tagContainer">
									<div class="tagLeftBg"></div>
									<div class="tagMiddleBg">
										<span class="tagText">
											<%= each%>
										</span>
									</div>
									<div class="tagRightBg"></div>
								</div>
							<%});%>

						</div>
						
						<div class="showDetails"></div>
						
					</div>
				</div>
			<% }); %>
	</script>
	
	
	<script>
		window.application.searchTerm = {"zone": false, "phone": true, "commute": false, "price": true, "email": false};
		window.application.results = [{"activity":"Teatro","description":"Lorem ipsum dolum","lastName":"Chiti","name":"Rafael","phone":"46595841","price":"$ 45","stars":"2","tags":["Musico","Rockstar"]},{"activity":"Guitarra","description":"Lorem ipsum dolum","lastName":"Espada","name":"Diego","phone":"46577654","price":"$ 65","stars":"3","tags":["Rockstar","Loquito lindo","Tag very very long"]},{"activity":"Piano","description":"Lorem ipsum dolum","lastName":"Pochiero","name":"Octavio","phone":"45678723","price":"$ 66","stars":"5","tags":["Piano"]},{"activity":"Saxo","description":"Lorem ipsum dolum","lastName":"Rodriguez","name":"Pedro","phone":"47656789","price":"$ 10","stars":"4","tags":["I don't know what to write", "asdasdasd","asdasdasdas","asdadasd"]}];
	</script>
</body>
</html>

