<!DOCTYPE html>

<html>
<head>
	<link href="styles/resultPage.css" rel="stylesheet" type="text/css" />
	<script src="http://code.jquery.com/jquery-1.7.1.js"></script>
	<script src="scripts/jquery.tmpl.js"></script>
	<script src="scripts/resultPage.js"></script>

	<!-- SWEET CHECKBOX	-->
	<script src="sweetCheckbox/sweetCheckbox.js"></script>	
	<link href="sweetCheckbox/sweetCheckbox.css" rel="stylesheet" type="text/css" />
	
	<!-- REPLACE THIS LIBRARY WITH THE LOCAL + PRODUCTIVE ONE -->
	<script src="http://documentcloud.github.com/underscore/underscore.js"></script>

	<!-- REPLACE THIS LIBRARY WITH THE LOCAL + PRODUCTIVE ONE -->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	
</head>

<body>
	<div id="pageSection">
		<!-- Debugging box -->
		<div id="debuggingBox">
			<label style="color: white;">Debugging Box</label> </br>
			<a href="homePage.html">Home Page</a> </br>
			<a onclick="alertSearchTerm();">Search Term to JSON</a>	</br>
		</div>
	
		<div id="topErudioLogoContainer">
			<div id="topErudioLogo"></div>
		</div>
		<div id="pageTopFrame"></div>

		<div id="headerSection">
			<div id="authenticationBox"></div>
		</div>

		<div id="resultSection">
			<div id="resultsColumn">
				Results Column
			</div>
			
			<!-- [START] FILTER SECTION - ACOMODAR!!!! -->
			<div id="filterColumn">
				<div>Filtrar Resultados</div></br>
				
				<!-- ZONE -->
				<div style="outline: 1px dashed green">	
					<div style="float: left;">Zona</div>
					<div style="float: right;">
						<div class="sweetCheckbox" title="zone" onclick="updateBoolFilter(this, this.title)"></div>
					</div>
				</div>

				<!-- PHONE -->
				<div style="outline: 1px dashed green; clear: both;">	
					<div style="float: left;">Telefono</div>
					<div style="float: right;">
						<div class="sweetCheckbox" title="phone" onclick="updateBoolFilter(this, this.title)"></div>
					</div>
				</div>

				<!-- EMAIL -->
				<div style="outline: 1px dashed green; clear: both;">	
					<div style="float: left;">Mail</div>
					<div style="float: right;">
						<div class="sweetCheckbox" title="email" onclick="updateBoolFilter(this, this.title)"></div>
					</div>
				</div>
				
				<!-- COMMUTE -->
				<div style="outline: 1px dashed green; clear: both;">	
					<div style="float: left;">A Domicilio</div>
					<div style="float: right;">
						<div class="sweetCheckbox" title="commute" onclick="updateBoolFilter(this, this.title)"></div>
					</div>
				</div>
				
				<!-- HAS PRICE -->
				<div style="outline: 1px dashed green; clear: both;">	
					<div style="float: left;">Tiene Precio</div>
					<div style="float: right;">
						<div class="sweetCheckbox" title="price" onclick="updateBoolFilter(this, this.title)"></div>
					</div>
				</div>

			<div style="clear: both"></div>
			</div>
			<!-- [END] FILTER SECTION -->
						
		</div>
		
		<div id="footerSection">		
			Footer
		</div>
	
	</div>
	
	
	<!-- RESULT TEMPLATE -->
	<script id="resultTemplate" type="text/x-jquery-tmpl">
	    <ul>
			<% _.each(data, function(result){  %>
				<li>
					Name: <%= result.name %></br>
					Last Name: <%= result.lastName %> </br>
					Telefono:  <%= result.phone %></br>
					Descripccion: <%= result.description %></br>
					Precio: <%= result.price %></br>
				</li>
				</br>
			<% }); %>
		</ul>
	</script>
	
	
	<script>
		window.application.searchTerm = {"zone": false, "phone": true, "commute": false, "price": true, "email": false};
		window.application.results = [{"activity":"Teatro","description":"Lorem ipsum dolum","lastName":"Chiti","name":"Rafael","phone":"46595841","price":"$ 45"},{"activity":"Guitarra","description":"Lorem ipsum dolum","lastName":"Espada","name":"Diego","phone":"46577654","price":"$ 65"},{"activity":"Piano","description":"Lorem ipsum dolum","lastName":"Pochiero","name":"Octavio","phone":"45678723","price":"$ 66"}];
	</script>
</body>
</html>

