<header id="page_header">
	
	<div id="topFrame">
		<div id="logoWrapper">
			<div id="logo"></div>
		</div>	
	</div>

	<div id="authenticationBox"></div>

	<!-- Debugging box -->
	<%= yield :debug_box %>

</header>	